<mat-toolbar>
  {{title}}
  <div class="flex-stretch"></div>
  <mat-icon>bedtime</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
  </mat-slide-toggle>
  <mat-icon class="mr-8">brightness_5</mat-icon>
</mat-toolbar>

<div class="content mat-app-background">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayout.lt-md="column wrap"
    fxLayoutAlign.lt-md="center start"

    [formGroup]="investForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input
        matInput
        id="deposit"
        type="number"
        placeholder="Deposit"
        formControlName="deposit"
        required [pattern]="pattern"
      >
      <mat-error
        *ngIf="investForm.get('deposit').invalid && (investForm.get('deposit').dirty || investForm.get('deposit').touched)">
        Only numbers are allowed.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        id="stopLossInPercents"
        type="number"
        placeholder="Stoploss in percents"
        formControlName="stopLossInPercents"
        required [pattern]="pattern"
      >
      <mat-error
        *ngIf="investForm.get('stopLossInPercents').invalid && (investForm.get('stopLossInPercents').dirty || investForm.get('stopLossInPercents').touched)">
        Only numbers are allowed.
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.gt-xs="50%">
      <input
        matInput
        id="entryPrice"
        type="number"
        placeholder="Entry price"
        formControlName="entryPrice"
        required [pattern]="pattern"
      >
      <mat-error
        *ngIf="investForm.get('entryPrice').invalid && (investForm.get('entryPrice').dirty || investForm.get('entryPrice').touched)">
        Only numbers are allowed.
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.gt-xs="50%">
      <input
        matInput
        id="stopLossPrice"
        type="number"
        placeholder="Stoploss price"
        formControlName="stopLossPrice"
        required [pattern]="pattern"
      >
      <mat-error
        *ngIf="investForm.get('stopLossPrice').invalid && (investForm.get('stopLossPrice').dirty || investForm.get('stopLossPrice').touched)">
        Only numbers are allowed.
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.gt-xs="50%">
      <input
        matInput
        id="leverage"
        type="number"
        placeholder="Leverage"
        formControlName="leverage"
        required [pattern]="pattern"
      >
      <mat-error
        *ngIf="investForm.get('leverage').invalid && (investForm.get('leverage').dirty || investForm.get('leverage').touched)">
        Only numbers are allowed.
      </mat-error>
    </mat-form-field>

    <mat-label fxFlex.gt-xs="100%">Result: {{isNaNValue(moneyInDeal)}}</mat-label>

    <button
      mat-raised-button
      color="primary"
      fxFlex.gt-xs="100%"
      type="submit" [disabled]="investForm.invalid || hasEmptyFields()"
    >Calculate
    </button>

    <button
      mat-raised-button
      color="accent"
      fxFlex.gt-xs="100%"
      type="submit" [disabled]="investForm.invalid || hasEmptyFields()"
      (click)="resetForm()"
    >Reset form
    </button>
  </form>
</div>
